:root {
    --primary-color: #151515;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gray-color: #cfcfcf;
    --secondary-color: #570095;
    --purple-color: #9500ff;
    --gap: 3rem;
}